// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {

  /** THEME PERSONALIZADO **/
  --ion-background-color: #001d36;
	--ion-background-color-rgb: 0,29,54;

	--ion-text-color: #e2e2e2;
	--ion-text-color-rgb: 226,226,226;

	--ion-color-step-50: #0b273f;
	--ion-color-step-100: #173147;
	--ion-color-step-150: #223b50;
	--ion-color-step-200: #2d4458;
	--ion-color-step-250: #394e61;
	--ion-color-step-300: #44586a;
	--ion-color-step-350: #4f6272;
	--ion-color-step-400: #5a6c7b;
	--ion-color-step-450: #667683;
	--ion-color-step-500: #71808c;
	--ion-color-step-550: #7c8995;
	--ion-color-step-600: #88939d;
	--ion-color-step-650: #939da6;
	--ion-color-step-700: #9ea7ae;
	--ion-color-step-750: #aab1b7;
	--ion-color-step-800: #b5bbc0;
	--ion-color-step-850: #c0c4c8;
	--ion-color-step-900: #cbced1;
	--ion-color-step-950: #d7d8d9;

  /** primary **/
	--ion-color-primary: #00e4ff;
	--ion-color-primary-rgb: 0,228,255;
	--ion-color-primary-contrast: #000000;
	--ion-color-primary-contrast-rgb: 0,0,0;
	--ion-color-primary-shade: #00c9e0;
	--ion-color-primary-tint: #1ae7ff;

  /** secondary **/
	--ion-color-secondary: #26ffff;
	--ion-color-secondary-rgb: 38,255,255;
	--ion-color-secondary-contrast: #000000;
	--ion-color-secondary-contrast-rgb: 0,0,0;
	--ion-color-secondary-shade: #21e0e0;
	--ion-color-secondary-tint: #3cffff;

  /** tertiary **/
	--ion-color-tertiary: #74777c;
	--ion-color-tertiary-rgb: 116,119,124;
	--ion-color-tertiary-contrast: #ffffff;
	--ion-color-tertiary-contrast-rgb: 255,255,255;
	--ion-color-tertiary-shade: #66696d;
	--ion-color-tertiary-tint: #828589;

	/** Black **/
	--ion-color-black: #000;
	--ion-color-black-rgb: 0,0,0;
	--ion-color-black-contrast: #ffffff;
	--ion-color-black-contrast-rgb: 255,255,255;
	--ion-color-black-shade: #000000;
	--ion-color-black-tint: #1a1a1a;
}

.ion-color-black {
	--ion-color-base: var(--ion-color-black);
	--ion-color-base-rgb: var(--ion-color-black-rgb);
	--ion-color-contrast: var(--ion-color-black-contrast);
	--ion-color-contrast-rgb: var(--ion-color-black-contrast-rgb);
	--ion-color-shade: var(--ion-color-black-shade);
	--ion-color-tint: var(--ion-color-black-tint);
}