<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">CONFIGURACIÓN</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content
  [fullscreen]="true"
  [class.large-font]="isLargeFont"
  [class.text-right]="isTextRight"
  class="ion-text-center"
  mode="ios"
>
  <ion-list lines="full">
    <ion-item>
      <ion-toggle
        [checked]="isLargeFont"
        (ionChange)="toggleFont()"
        class="toggle"
      >
        Fuente grande
      </ion-toggle>
    </ion-item>
    <ion-item>
      <ion-toggle
        [checked]="isTextRight"
        (ionChange)="toggleText()"
        class="toggle"
      >
        Texto en la izquierda
      </ion-toggle>
    </ion-item>
  </ion-list>
</ion-content>
